@import 'https://cdn.jsdelivr.net/npm/@vue-flow/core@1.48.0/dist/style.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/core@1.48.0/dist/theme-default.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/controls@latest/dist/style.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/minimap@latest/dist/style.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/node-resizer@latest/dist/style.css';
@import 'tailwindcss';
@import 'tailwind.css';
:root {
  --icon-color: black;
  --background-color: white;
  --text-color: black;
}
html,
body,
#app {
  margin: 0;
  height: 100%;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
}
#app {
  text-transform: uppercase;
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.fontawesome-icon,
.fa,
svg {
  color: var(--icon-color);
  fill: currentColor;
}
.vue-flow__minimap {
  transform: scale(75%);
  transform-origin: bottom right;
}

.basic-flow.dark {
  background: #2d3748;
  color: #fffffb;
}

.basic-flow.dark .vue-flow__node {
  background: #4a5568;
  color: #fffffb;
}

.basic-flow.dark .vue-flow__node.selected {
  background: #333;
  box-shadow: 0 0 0 2px #2563eb;
}

.basic-flow .vue-flow__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.basic-flow.dark .vue-flow__controls {
  border: 1px solid #fffffb;
}

.basic-flow .vue-flow__controls .vue-flow__controls-button {
  border: none;
  border-right: 1px solid #eee;
}

.basic-flow .vue-flow__controls .vue-flow__controls-button svg {
  height: 100%;
  width: 100%;
}

.basic-flow.dark .vue-flow__controls .vue-flow__controls-button {
  background: #333;
  fill: #fffffb;
  border: none;
}

.basic-flow.dark .vue-flow__controls .vue-flow__controls-button:hover {
  background: #4d4d4d;
}

.basic-flow.dark .vue-flow__edge-textbg {
  fill: #292524;
}

.basic-flow.dark .vue-flow__edge-text {
  fill: #fffffb;
}
.vue-flow__container.light-mode {
  background-color: white !important;
  color: black !important;
}

.vue-flow__container.dark-mode {
  background-color: #121212 !important;
  color: black !important;
}
/* main.css */


.control-button {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  user-select: none;
  /* Default light mode colors */
  background-color: white;
  color: black;
}

.control-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.control-button.dark-mode {
  background-color: #121212;
  color: white;
}

/* Make sure svg fills follow text color */
.control-button svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
}
